<!-- <p>Solve <span id="problem">ax^2 + bx + c = 0</span>.</p>

<script>
  var problemSpan = document.getElementById("problem");
  MQ.StaticMath(problemSpan);
</script>

 -->

<div class="wrapper">
  <h1>MathQuill</h1>
</div>
<div class="wrapper">
  Input:
  <div id="math-field"></div>
  <span tabindex="0" id="substitue-id"></span>
</div>
<div class="wrapper" style="border: 1px solid green">
  Rendered Latex:
  <div id="latex"></div>
</div>
<div class="super-duper-keyboard wrapper">
  <button
    style="width: 40px; height: 40px"
    *ngFor="let button of buttons"
    (click)="onClickMathButton($event, button)"
  >
    <div *ngIf="!button.displayContent">{{ button.content }}</div>
    <img
      style="max-width: 100%; max-height: 100%"
      *ngIf="button.displayContent"
      attr.src="{{ '../assets/math-quill-assets/' + button.displayContent }}"
      attr.alt="{{ button.content }}"
    />

    <!-- <img
attr.src="../assets/math-quill-assets/2_fraction.png"
ng-attr-src="{{ '../assets/math-quill-assets/' + myScopeObject.index }}"
alt="fraction"
/> -->
  </button>
</div>

<!-- <button (click)="setFocus()">set focus</button> -->

<div style="border: 1px solid blue">{{ specialKey_1 }}</div>
